body {
    width: 100lvw;
    overflow: hidden;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100dvh;
    flex-direction: column;
}

html {
    overflow: hidden;
    height: 100dvh;
    width: 100lvw;
}

.horizontalDiv {
    margin: 0px;
    width: 100lvw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-shrink: 0;
}

.inBetweenDiv {
    display: flex;
    flex-direction: column;
    width: 25lvw;
    margin-left: 2.5lvw;
    margin-right: 2.5lvw;
    height: 100%;
    flex-shrink: 0;
    justify-content: space-between;
}

img {
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    height: auto;
}

#slider {
    display: flex;
    height: calc(100dvh - 40px)
}

#buttons {
    display: flex;
    width: 100lvw;
    height: 40px;
    background-color: darkorange;
    align-items: center;
}

.collapsible {
    background-color: rgba(81, 16, 15, 1.0);
    color: white;
    border: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-grow: 0;
}

.collapsible:hover {
    background-color: rgba(81, 16, 15, 0.95);
}

.collapsible:active {
    background-color: rgba(81, 16, 15, 0.9);
}

.smallerDiv {
    height: fit-content;
    width: calc(100% - 18px);
    margin-left: 12px;
    margin-right: 6px;
}

button > p {
    text-align: left;
}

.collapse {
    margin: 0;
    height: 0;
}

.button {
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 20px;
    align-items: center;
    display: flex;
}

h1 {
    margin-top: 0;
}

.descriptionText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin: 4px 4px 0 4px;
}

#teamsDescContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.horizCollapse {
    flex-grow: 0;
    padding-left: 4px;
    margin-left: 4px;
}

#schoolLink {
    height: 80%;
    margin-left: 8px;
}

#schoolImg {
    height: 100%;
    width: auto;
}

#leftDiv {
    width: 40%;
}

#rightDiv {
    width: 60%;
    overflow-y: scroll;
    height: calc(100dvh - 40px);
    position: sticky;
    top: 0;
}

.images {
    width: 100%;
    height: auto;
}